@import './mixin';
@import './colors';
@import './reset';

.page-content-container {
    width: calc(100vw - 275px);
    position: relative;
    left: 275px;
    padding: 42px 48px;
    position: relative;

    @include tablet {
        padding: 30px;
    }

    @include mobileLarge {
        width: 100%;
        left: 0;
        padding: 20px;

        &.page-overlay:before {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: rgba(0,0,0,0.6);
            content: '';
        }
    }

    .page-content-wrapper {
        margin-top: 40px;

        @include tablet {
            margin-top: 30px;
        }

        @include mobileLarge {
            margin-top: 20px;
        }

        .error {
            font-weight: 600;
            font-size: 21px;
            line-height: 44px;
            color: $white;
        }
    }
}

.btn {
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    padding: 10px 21px;
    cursor: pointer;
}

.primary-btn {
    display: inline-block;
    background: $blue-shade3;
    color: $black;
}

.hollow-btn {
    display: inline-block;
    border: 1px solid #00E0FF;
    color: $blue-shade3;
}

.hide-desktop {
    display: none;

    @include mobileLarge {
        display: inline-block;
    }
}