@import '../../styles/colors';

.movies-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 26px;
    row-gap: 37px;

    .movie-container {
        background-color: $blue-shade5;
        border-radius: 11px;
        padding: 10px 10px 16px;
        cursor: pointer;
        display: inline-block;
        border: 2px solid $blue-shade5;

        &.active {
            border: 2px solid $blue-shade3;
        }

        .movie-banner {
            height: 188px;
            border-radius: 5px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        .movie-name {
            margin: 12px 0;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
        }

        .buttons {
            > .button {
                margin-right: 16px;
            }

            .button {
                cursor: pointer;
            }
        }
    }
}